<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burgers</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Abel|Encode+Sans+Condensed|Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../assets/css/materialize.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css" />


</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class=" brand-logo fontNunito">Burger Tracker</a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="/">
                                <i class="material-icons left">home</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
       {{{body}}}
    </main>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <a href="https://github.com/tbizz22/burger2">Github Repo</a>
            </div>
        </div>
    </footer>


    {{!-- JS files --}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../assets/js/materialize.js"></script>
    <script src="../assets/js/burg.js"></script>
</body>

</html>