
<div id="burger{{dataValues.id}}" class="center-align p10 {{#if dataValues.eaten}}eaten{{/if}}">
    {{dataValues.burger}} 
    
    {{#unless eaten}}
        <button class="ml10 waves-effect btn-small burgerButton" data-id="{{dataValues.id}}">Eat It!</button>
    {{/unless}}
</div>